body{
    background-color: #D9DFC6;
}
form{
    float:left;
    width: 50%;
}
fieldset{
    margin: 10px;
    padding: 10px;
    border: 1px solid #FFFDF0;
    background-color: #EFF3EA;
}
aside{
    float: right;
}